*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Mobil design*/
body{
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
}

.card-info{
    width: 100%;
    position: relative;
}
.bg-mobil{
    width: 100%;
    z-index: 1;
}

.bg-desktop{
    display: none;
    z-index: 1;
}

.cb-back{
    position: absolute;
    top: 30px;
    width: 80%;
    z-index: 2;
    right: 20px;
}

.cvc-number{
    position: absolute;
    top: 103px;
    width: 80%;
    z-index: 3;
    right: -220px;
    color: hsl(0, 0%, 100%);
}

.cb-front{
    position: absolute;
    top: 125px;
    width: 75%;
    z-index: 3;
    right: 83px;
}

.card-info-submitted{
    width: 100%;
}

.logo-card{
    position: absolute;
    top: 140px;
    z-index: 4;
    width: 50px;
    left: 40px;
}

.card-number{
    position: absolute;
    top: 210px;
    z-index: 4;
    width: 100%;
    left: 50%;
    transform: translateX(-40%);
    font-size: 22px;
    color: hsl(0, 0%, 100%);
}

.user-name{
    position: absolute;
    top: 250px;
    z-index: 4;
    width: 100%;
    left: 35px;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 12px;
}

.expiration-date{
    position: absolute;
    top: 250px;
    z-index: 4;
    width: 100%;
    right: -240px;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
}

form{
    margin-top: 90px;
    padding: 0 30px;
    margin-bottom: 50px;
}

.msg-error{
    margin-top: 10px;
    color: hsl(0, 100%, 66%);
    font-size: 12px;
}

.input-group{
    width: 100%;
    margin-bottom: 15px;
}

label{
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 500;
}


.input-group input{
    padding: 10px;
    border: solid 1px hsl(270, 3%, 87%);
    border-radius: 5px;
    width: 100%;
    outline: none;
}

input:focus{
    border-color: hsl(249, 99%, 64%);
}

.input-group input::placeholder{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: 18px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin:0;
}

.flex{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.input-validity{
    width: 50%;
}

#month{
    display: inline;
    width: 40%;
    margin-right: 10px;
}

#year{
    display: inline;
    width: 40%;
}

.input-cvc{
    width: 50%;
}

.submit{
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border-color: transparent;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    cursor: pointer;
}

.submit[type=submit]{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: 18px;
}

.message-card-saved{
    margin-top: 90px;
    text-align: center;
    padding: 0 30px;
    margin-bottom: 50px;
    display: none;
}

.check{
    margin-bottom: 35px;
}

.thank{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}

.message{
    color: hsl(279, 6%, 55%);
    margin-bottom: 50px;
}

.continue{
    width: 100%;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    border-color: transparent;
    border-radius: 5px;
    padding: 10px 0;
    outline: none;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: 18px;
    cursor: pointer;
}

/*responsive design*/

@media only screen and (min-width:400px) {
    .cvc-number{
        top: 106px;
    }
    .cb-front{
        top: 130px;
    }
}

@media only screen and (min-width:450px) {
    .cvc-number{
        top: 120px;
        right: -260px;
    }

    .cb-front{
        top: 143px;
    }

    .logo-card{
        top: 160px;
        left: 50px;
    }

    .card-number{
        top: 230px;
        left: 50%;
        transform: translateX(-39%);
    }

    .user-name{
        top: 270px;
        z-index: 4;
        width: 100%;
        left: 50px;
    }
    
    .expiration-date{
        top: 270px;
        z-index: 4;
        width: 100%;
        right: -290px;
    }
}

@media only screen and (min-width:480px) {

    .cb-front{
        top: 150px;
    }
}

@media only screen and (min-width:1000px) {
    .container{
        display: flex;
    }
    .card-info{
        width: 65%;
    }

    .bg-mobil{
        display: none;
    }

    .bg-desktop{
        display: block;
        width: 70%;
        height: 60vw;
    }

    .cb-back{
        top: 300px;
        width: 50%;
        left: 250px;
    }

    .cvc-number{
        top: 355px;
        width: 80%;
        left: 440px;
    }
    
    .cb-front{
        top: 135px;
        width: 50%;
        left: 220px;
    }
    
    .card-info-submitted{
        width: 100%;
    }
    
    .logo-card{
        top: 150px;
        z-index: 4;
        width: 50px;
        left: 235px;
    }
    
    .card-number{
        top: 210px;
        width: 100%;
        left: 430px;
        font-size: 20px;
    }
    
    .user-name{
        top: 250px;
        width: 100%;
        left: 235px;
    }
    
    .expiration-date{
        top: 250px;
        width: 100%;
        left: 430px;
    }

    form{
        margin-top: 150px;
        padding: 0 30px;
    }

    .message-card-saved{
        margin-top: 150px;
        padding: 0 30px;
    }
}

@media only screen and (min-width:1050px) {
    .card-number{
        position: absolute;
        top: 210px;
        z-index: 4;
        width: 100%;
        left: 460px;
        font-size: 20px;
        color: hsl(0, 0%, 100%);
    }

    .cb-back{
        top: 320px;
        width: 50%;
        left: 250px;
    }

    .cvc-number{
        top: 380px;
        left: 450px;
    }
}

@media only screen and (min-width:1150px) {
    .card-number{
        position: absolute;
        top: 210px;
        z-index: 4;
        width: 100%;
        left: 480px;
        font-size: 20px;
        color: hsl(0, 0%, 100%);
    }

    .cvc-number{
        top: 390px;
        left: 480px;
    }
}

@media only screen and (min-width:1200px) {
    
    form{
        margin-top: 150px;
        padding-left: 0;
        padding-right: 60px;
    }
    .message-card-saved{
        margin-top: 150px;
        padding-left: 0;
        padding-right: 60px;
    }
    .card-number{
        position: absolute;
        top: 220px;
        z-index: 4;
        width: 100%;
        left: 500px;
        font-size: 22px;
        color: hsl(0, 0%, 100%);
    }

    .cb-back{
        top: 330px;
        width: 50%;
        left: 250px;
    }

    .cvc-number{
        top: 410px;
        left: 500px;
    }

    .user-name{
        top: 265px;
        width: 100%;
        left: 235px;
    }
    
    .expiration-date{
        top: 265px;
        width: 100%;
        left: 460px;
    }
}

@media only screen and (min-width:1250px) {
    
    .cb-back{
        top: 350px;
        width: 50%;
        left: 250px;
    }
    .card-number{
        position: absolute;
        top: 230px;
        z-index: 4;
        width: 100%;
        left: 520px;
        font-size: 23px;
        color: hsl(0, 0%, 100%);
    }

    .cvc-number{
        top: 435px;
        left: 515px;
    }

    .user-name{
        top: 275px;
        width: 100%;
        left: 235px;
        font-size: 14px;
    }
    
    .expiration-date{
        top: 275px;
        width: 100%;
        left: 475px;
        font-size: 14px;

    }
}

@media only screen and (min-width:1350px) {
    
    .cb-back{
        top: 370px;
        width: 50%;
        left: 250px;
    }
    .card-number{
        position: absolute;
        top: 240px;
        z-index: 4;
        width: 100%;
        left: 545px;
        font-size: 26px;
    }

    .cvc-number{
        top: 465px;
        left: 545px;
    }

    .user-name{
        top: 290px;
        width: 100%;
        left: 235px;
    }
    
    .expiration-date{
        top: 290px;
        width: 100%;
        left: 500px;
    }

    form{
        margin-top: 250px;
        padding-left: 0;
        padding-right: 80px;
    }

    .message-card-saved{
        margin-top: 250px;
        padding-left: 0;
        padding-right: 80px;
    }
}

@media only screen and (min-width:1400px) {
    
    .cb-back{
        top: 380px;
        width: 50%;
        left: 250px;
    }
    .card-number{
        position: absolute;
        top: 240px;
        z-index: 4;
        width: 100%;
        left: 565px;
        font-size: 28px;
    }

    .cvc-number{
        top: 480px;
        left: 565px;
    }

    .user-name{
        top: 300px;
        width: 100%;
        left: 235px;
    }
    
    .expiration-date{
        top: 300px;
        width: 100%;
        left: 520px;
    }
}

@media only screen and (min-width:1450px) {
    
    .cb-back{
        top: 395px;
        width: 50%;
        left: 320px;
    }

    .cb-front{
        top: 135px;
        width: 50%;
        left: 260px;
    }

    .logo-card{
        top: 155px;
        z-index: 4;
        width: 55px;
        left: 285px;
    }
    .card-number{
        position: absolute;
        top: 240px;
        z-index: 4;
        width: 100%;
        left: 630px;
        font-size: 30px;
    }

    .cvc-number{
        top: 500px;
        left: 650px;
        font-size: 18px;
    }

    .user-name{
        top: 310px;
        width: 100%;
        left: 285px;
        font-size: 15px;
    }
    
    .expiration-date{
        top: 310px;
        width: 100%;
        left: 600px;
        font-size: 15px;
    }
}

@media only screen and (min-width:1500px) {
    
    .cb-back{
        top: 410px;
        width: 50%;
        left: 320px;
    }

    .cb-front{
        top: 135px;
        width: 50%;
        left: 260px;
    }

    .logo-card{
        top: 155px;
        z-index: 4;
        width: 60px;
        left: 295px;
    }
    .card-number{
        position: absolute;
        top: 240px;
        z-index: 4;
        width: 100%;
        left: 660px;
        font-size: 32px;
    }

    .cvc-number{
        top: 520px;
        left: 670px;
        font-size: 19px;
    }

    .user-name{
        top: 315px;
        width: 100%;
        left: 295px;
        font-size: 15px;
    }
    
    .expiration-date{
        top: 315px;
        width: 100%;
        left: 625px;
        font-size: 15px;
    }
}